
/* Box Model Hack */
*{
  box-sizing: border-box;
}

h1, h2, p {
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 265px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}

#purple{
  background: rgb(241,63,247,1);
}
#green{
  background: rgb(0,253,81,1);
}
#blue{
  background: rgb(0,254,255);
}
#orange{
  background: rgb(255, 165, 0);
}
